<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A layout example that shows off a responsive product landing page.">
        <title>CloudPad &ndash; Website</title>
        
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <!--[if lte IE 8]>
        
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
        
        <![endif]-->
        <!--[if gt IE 8]><!-->
        
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        
        <!--<![endif]-->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="pure-css/layouts/marketing.css">
        <!--<![endif]-->
    </head>
    <body>
        <div class="splash-container">
            <div class="splash">
                <h1 class="splash-head">CloudPad</h1>
                <p class="splash-subhead">
                    Registreer, log in of download de app om gebruik te maken van cloudpad.
                </p>
                <p>
                    <a href="http://download1503.mediafire.com/xe6gcwuhxbeg/gkxhc78sgu34l51/CloudPad.apk" class="pure-button pure-button-primary">Download de app</a> 
                </p>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="content">
                <h2 class="content-head is-center">Registreren</h2>
                <div class="pure-g is-center">
                    <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                        <form class="pure-form pure-form-stacked">
                            <fieldset>
                                <label for="name">Gebruikersnaam</label>
                                <input id="name" type="text" placeholder="Voorbeeld123">
                                <label for="email">Email</label>
                                <input id="email" type="email" placeholder="jouw@email.com">
                                <label for="password">Wachtwoord</label>
                                <input id="password" type="password" placeholder="*********">
                                <button type="submit" class="pure-button">Registreer!</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer l-box is-center">
                Gemaakt door Edwin van Rooij.
            </div>
        </div>
    </body>
</html>